.icon-container {
    margin: 0 auto;
}

.main-icon {
    width: 25vw;
    -webkit-animation: pulsate-bck 5s ease-in-out infinite both;
    animation: pulsate-bck 5s ease-in-out infinite both;
}

.current-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30vw;
}

.minus-symbol,
.current-temperature,
.degrees-symbol {
    font-family: "savateregular";
    color: var(--main-color);
}

.minus-symbol {
    font-size: 25vw;
    margin-left: auto;
}

.current-temperature {
    font-size: 50vw;
    transform: scaleY(0.5);
}

.degrees-symbol {
    font-size: 10vw;
    padding-right: 2vw;
    margin-right: auto;
    align-self: flex-start;
}

.white-svg-filter {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}


@media only screen and (min-width: 600px) {
    .current-container {
        grid-area: current;
        height: 100px;
    }

    .icon-container {
        grid-area: icon;
    }

    .main-icon {
        width: 95px;
    }

    .current-temperature {
        font-size: 150px;
    }

    .current-minus {
        font-size: 50px;
    }

    .degrees-symbol {
        font-size: 30px;
    }

    .current-temperature,
    .current-minus,
    .degrees-symbol {
        color: var(--color-white);
    }
}


@-webkit-keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}