.gradients {
    height: 100vh;
    position: absolute;
}


.gradient-top {
    position: fixed;
    z-index: -999;
    height: 50vh;
    width: 100%;
    top: 0;
    background: linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, var(--main-color) 100%);
}

.gradient-left,
.gradient-right {
    display: none;
}

@media only screen and (min-width: 600px) {
    .gradient-top {
        height: 100vh;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--main-color) 10%, var(--main-color) 90%, rgba(255, 255, 255, 0) 100%);
    }

    .gradient-left,
    .gradient-right {
        display: block;
        position: fixed;
        z-index: -500;
        width: 10vw;
        height: 100vh;
        top: 0;
    }

    .gradient-left {
        left: 0;
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    }

    .gradient-right {
        right: 0;
        background: linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    }
}