.gradients {
    height: 100vh;
    position: absolute;
    transition: opacity 2s ease-in;
}

.gradient-top,
.gradient-bottom,
.gradient-left,
.gradient-right,
.noise-top,
.noise-bottom,
.noise-left,
.noise-right {
    position: fixed;
    transition: background 2s ease-in;
    z-index: -999;
}

/* .gradient-top,
.gradient-bottom, {
    height: 5vh;
    width: 100%;
} */

.gradient-top {
    height: 50vh;
    width: 100%;
}

.gradient-left,
.gradient-right,
.noise-left,
.noise-right {
    width: 5vh;
    height: 100%;
}

.gradient-top {
    top: 0;
    background: linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, var(--main-color) 100%);
}

.gradient-bottom {
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--main-color) 100%);
}

.gradient-left {
    left: 0;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, var(--main-color) 100%);
}

.gradient-right {
    right: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--main-color) 100%);
}

@media only screen and (min-width: 600px) {
    .gradient-top {
        background: linear-gradient(181deg, rgba(255, 255, 255, 0) 0%, var(--main-color) 100%);
    }
}