.info-container {
    height: 33vh;
    background-color: white;
    border: var(--border);
    border-radius: var(--radius);
    transition: var(--color-transition);
    display: grid;
    grid-template-rows: 1fr 1fr;

}

.hour-forecast,
.week-forecast {
    padding-left: 7vw;
    display: grid;
    grid-template-columns: repeat(7, 20vw);
    overflow: scroll;
}

.hour-forecast {
    border-bottom: var(--border);
}

.info-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card-temp-hourly,
.card-temp-daily {
    font-family: "savateregular";
    color: var(--main-color);
    font-size: 10vw;
}

.card-text-hourly,
.card-text-daily {
    font-family: 'Bitter', serif;
    color: var(--main-color);
    font-size: 4vw;
}