.info-container {
    height: 33vh;
    background-color: white;
    border: var(--border);
    border-radius: var(--radius);
    display: grid;
    grid-template-rows: 1fr 1fr;

}

.hour-forecast {
    height: 45vw;
    display: grid;
    grid-template-columns: 20vw;
    grid-auto-columns: 20vw;
    grid-auto-flow: column;
    overflow: scroll;
    margin: 18px;
    border-radius: 20px;
}



.info-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card-icon {
    width: 8vw;
}

.card-temp {
    font-family: "savateregular";
    color: var(--color-white);
    font-size: 10vw;
}

.card-text {
    font-family: 'Bitter', serif;
    font-size: 3.5vw;
    color: var(--color-white);
}

.week-bg {
    height: 100vh;
    padding: 30px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--main-color) 30%, var(--main-color) 100%);
}

.week-forecast {
    height: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-columns: 50px;
    grid-auto-flow: row;
    border: var(--border-white);
    border-radius: 20px;
}


.daily-card {
    display: flex;
    padding: 0 20px;
    align-items: center;

}

.daily-text {
    font-family: 'Bitter', serif;
    font-size: 6.5vw;
    color: var(--color-white);
    margin-right: auto;
}

.temp-container {
    display: flex;
    align-items: baseline;
}

.daily-icon {
    width: 12vw;
    padding-right: 15px;
}

.temp-min {
    font-size: 5.5vw;
}

@media only screen and (min-width: 600px) {
    .hour-forecast {
        grid-area: hourly;
        height: 170px;
        grid-template-columns: 150px;
        grid-auto-columns: 150px;
        border: var(--border-white);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        margin: 0;
        align-self: end;
    }

    .card-icon,
    .daily-icon {
        width: 37px;
        padding: 0;
    }

    .card-temp {
        font-size: 37px;
    }

    .temp-min {
        font-size: 28px;
    }

    .card-text,
    .daily-text {
        font-size: 16px;
        margin: 0;

        order: 99;
    }

    .week-forecast {
        height: 170px;
        grid-template-columns: repeat(7, minmax(150px, 1fr));
        grid-auto-flow: column;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: none;
        overflow: scroll;

    }

    .week-bg {
        margin: 0 13vw;
        padding: 0;
        height: 200px;
        background: none;


    }

    .daily-card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 0;
    }
}