.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    z-index: 999;
    padding: 18px;
    width: 100%;
}

.city-input {
    color: var(--gray);
    font-family: 'Bitter', serif;
    padding: 5px;
    padding-left: 15px;
    text-align: left;
    font-size: 5vw;
    cursor: pointer;
    background: transparent;
    border-radius: 15px;
    border: 1px solid var(--gray);
    outline: none;
    height: 30px;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .input-container {
        grid-area: input;
        align-self: auto;
        padding: 0;
        justify-content: flex-start;
    }

    .city-input {
        max-width: 250px;
        font-size: 20px;
    }

}