@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
    font-family: 'savateitalique';
    src: url('../webfont/savate-italique-webfont.eot');
    src: url('../webfont/savate-italique-webfont.eot?#iefix') format('embedded-opentype'),
        url('../webfont/savate-italique-webfont.woff2') format('woff2'),
        url('../webfont/savate-italique-webfont.woff') format('woff'),
        url('../webfont/savate-italique-webfont.ttf') format('truetype'),
        url('../webfont/savate-italique-webfont.svg#savateitalique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'savateregular';
    src: url('../webfont/savate-regular-webfont.eot');
    src: url('../webfont/savate-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../webfont/savate-regular-webfont.woff2') format('woff2'),
        url('../webfont/savate-regular-webfont.woff') format('woff'),
        url('../webfont/savate-regular-webfont.ttf') format('truetype'),
        url('../webfont/savate-regular-webfont.svg#savateregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hidden {
    opacity: 0;
}

.city-input {
    font-family: 'Bitter', serif;
}

.current-container {
    margin: 0 auto;
    background-color: darkkhaki;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

.minus-symbol,
.current-temperature,
.degrees-symbol {
    font-family: "savateregular";
    transition: opacity 0.2s ease-in;
}

.minus-symbol {
    font-size: 25vw;
    margin-left: auto;
    bottom: -50%;
}

.current-temperature {
    font-size: 50vw;
    transform: scaleY(0.5);
    transform-origin: 0 0;
    margin-bottom: -33%;
}

.degrees-symbol {
    font-size: 10vw;
    margin-right: auto;
    align-self: flex-start;
}